
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');


body{
    margin: 0;
    background-color: black;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    background-color: rgb(236, 128, 4);
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1000;
    
    
}


.nav-links{
    list-style: none;
    display: flex;
    letter-spacing: 3px;
    margin: 0;

    
    
}

.nav-links a{
    text-decoration: none;
    color: beige;
    font-size: 17px;
    font-weight: 800;
    

}

.nav-links li{
    margin-left: 16px;


}
.nav-links a:hover{
    color: aqua;

}

.list-show{
    padding-right: 170px;
    padding-left: 60px;
}
.show{
    padding-right: 50px;
}

h1{
   
   text-align: center;
   font-size: 150px;
   margin-top: 150px;
   animation: pointdown 1050ms infinite alternate-reverse;
}

main {
    padding: 20px;
    text-align: center;
}

.delivery-info {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 2.5em;
    color: #900;
}

h2 {
    font-size: 1.8em;
    color: #900;
}

ul {
    text-align: left;
    padding: 0 20px;
}





@keyframes pointdown {
    0% {
        transform: translateY(0)
    
    }
    100%{
        transform: translateY(5px)
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    
}

footer .social-media a,
footer .address p {
    margin: 0.5em 0;
    color: beige;
    text-decoration: none;
}

footer .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
